#first {
    background-color: #1F2937;
    padding: 16px 236px 0px;
}

#headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#links {
    display: flex;
    color: #e5e7eb;
    justify-content: space-between;
    gap: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#big {
    font-size: 42px;
    font-weight: bolder;
    color: #f9faf8
}

#small {
    font-size: 18px;
    color: #e5e7eb
}
#first_content {
    display: flex;
}

#first_text {
    flex: 1;
}
#placeholder {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb
}